EIM02.sdf
ipch/*
ipch_old/*
Debug.win32
Debug.win32/*

.tags
.tags_sorted_by_file
help.chm
history.mdb
hisory.dlx
ico-arrow.gif
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Error.png
_UpgradeReport_Files/UpgradeReport_Information.png
_UpgradeReport_Files/UpgradeReport_Success.png
_UpgradeReport_Files/UpgradeReport_Warning.png
_UpgradeReport_Files/*
_UpgradeReport_Files
uinfo.txt
MyIM.sdf
MyIM.opensdf
history.ldb
cancel/
